[user]
    name = 
    email = 
[color]
    ui = true
    status = true
    diff = true
    branch = true
    interactive = true
    pager = true
[core]
    excludesfile = ~/.gitignore
    autocrlf = input
    editor = vim
[alias]
    subupdate = submodule update --init --recursive
    subup = submodule update --init --recursive
    cloner = clone --recursive
    clr = clone --recursive
    cl = clone
    co = checkout
    br = branch
    ci = commit
    st = status
    fc = fetch
    mg = merge
    rb = rebase
    rs = reset
    rv = revert
    pl = pull
    ps = push
    fix = commit --amend
    unstage = reset HEAD --
    us = reset HEAD --
    staged = diff --cached
    lg = log --graph
    last = log -1 HEAD
    tip = log -n 1 --abbrev-commit --decorate
    unmodify = checkout --
    um = checkout --
    cf = cat-file -p
    lgp = log --graph --pretty=tformat:'%Cred%h%Creset -%C(yellow)%d%Creset%s %C(blue)(%an)%Creset %Cgreen(%cd - %cr)%Creset' --abbrev-commit --date=local
    trackbranch = branch --set-upstream
    pushtrack = push -u 
[diff]
    tool = vimdiff
#    tool = meld
[merge]
    tool = vimdiff
#    tool = meld
